doctype html
html
    head
        title "firehouse!"
    body(style="text-align: center")
        img(src="tomas-eidsvold-HAZ0uomHB38-unsplash.jpg" title="a fire house" width="80%")
        h1 Fire House!
        <span>Photo by <a href="https://unsplash.com/@eidsvold?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tomas Eidsvold</a> on <a href="https://unsplash.com/s/photos/fire-truck?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
